* {
	font-family: 'Arial', sans-serif;
}

.player {
	width: 5px;
	height: 5px;
	background: #000000;
	position: absolute;
}

body {
	background: #DDDDDD;
}

.game-title{
	text-align: center;
	position: relative;
	width: 250px;
	animation-name: title;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes title{
	0% {
		transform: rotateY(0deg);
		color: black;
		left: 0px;
		top: 0px;
		}
	25%{
		transform: rotateY(360deg);
	}
	50%{
		transform: rotateY(0deg);
		color: red;
		left: 80%;
		top: 0px;
	}
	75%{
		transform: rotateY(360deg);
	}
	100%{
		transform: rotateY(0deg);
		color: black;
		left: 0px;
		top: 0px;
	}
}
